img {
	max-width:100%;
}

h1 {
	text-align:center;
}
p {
	margin:10px 0;
}

ul {
	margin-left:20px;
}

div.img {
	width:310px;
	height:220px;
	margin:5px 0;
}

section#portfolio div.img {
	margin:5px auto;	
}

article.item .links {
	margin:0 auto;
	overflow:hidden;
}

section#portfolio article.item .links {
	width:220px;	
}

section#portfolio article.item {	
	text-align:center;
}


.navbar {
	background:#D23641;
	margin:0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color:#FFF;
}
