img {
	max-width:100%;
}

.jumbotron h1 {
	text-align:center;
}

div.img {	
	margin:5px 0;
}

#feature {overflow: hidden;}

#feature img {
	display:block;
	margin:10px auto;
}

section#portfolio article.item {	
	text-align:center;
	height:400px;
}

.tags {
	text-align:center;
}
.tag {
	padding: .4em .4em .4em;
	margin: 0 .1em;	
}

.navbar {
	background:#D23641;
	margin:0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color:#FFF;
}

footer {
	border-top:solid 1px #D23641;
	padding:10px 0;
}
